In [2]:
import pandas as pd
import numpy as np 
import json
import ast 
import re
import pyarrow as pa
import pyarrow.parquet as pq
import fastparquet as fp 
from textblob import TextBlob
import utils
import nltk
from nltk.corpus import opinion_lexicon
from fastapi import FastAPI
import os

%load_ext autoreload
%autoreload 2

In [3]:
df_items = pd.read_parquet("C:\\Users\\ACER\\Downloads\\df_ranking.parquet")
df_items

                       genres  playtime_forever  Posicion
0                      Action      3.074906e+09         1
9                       Indie      1.475390e+09         2
12                        RPG      1.027852e+09         3
1                   Adventure      8.986827e+08         4
14                 Simulation      8.552631e+08         5
17                   Strategy      6.509956e+08         6
8                Free to Play      6.035662e+08         7
10      Massively Multiplayer      4.410434e+08         8
4                      Casual      2.493166e+08         9
6                Early Access      1.566875e+08        10
16                     Sports      6.491268e+07        11
13                     Racing      6.298226e+07        12
18                  Utilities      4.677356e+06        13
5   Design &amp; Illustration      4.075534e+06        14
20             Web Publishing      2.760751e+06        15
19           Video Production      2.387840e+06        16
2    Animation &amp; Modeling      1.994171e+06        17
15          Software Training      5.599880e+05        18
3            Audio Production      5.452010e+05        19
7                   Education      4.129550e+05        20
11              Photo Editing      1.145020e+05        21

In [4]:
df_items2 = pd.read_parquet("C:\\Users\\ACER\\Downloads\\df_f1_2.parquet")
df_items2

                    user_id  recommend
0         76561197970982479       True
1         76561197970982479       True
2         76561197970982479       True
3                   js41637       True
4                   js41637       True
...                     ...        ...
59300  Fuckfhaisjnsnsjakaka       True
59301            3214213216       True
59302          ChrisCoroner       True
59303      CaptainAmericaCw       True
59304     76561198267374962       True

[59161 rows x 2 columns]